<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @post.category %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>File:</strong>
  <%= @post.file %>
</p>

<%= link_to 'Edit',  edit_category_post_path(@category, @post) %>
